@page "/"

@*Mavbar*@

<main class="d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto layout ">
    <div class="container g-0">
        <div class="row g-8">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 d-inlince-flex flex-column bg-white-98 p-5 shadow-no-hover">
                <h3 class="d-inline-flex"> Hello, I'm</h3>
                <p class="d-inline-flex">
                    <h1>
                    George Hira
                    </h1>
                    <br />
                    <br />
                    Wecome to my portofolio. 
                </p>
                <a href="/portofolio"class="btn btn-primary shadow btn-lg fw-bold mt-3 md-f-size-1-5 ">  
                    <i class=" fas fa-project-diagram"></i>Projects    
                </a>
                <a href="/about" class="btn btn-secondary shadow btn-lg fw-bold mt-3 md-f-size-1-5 ">
                    <i class=" fas fa-info-circle"></i>About me
                </a>

            </div>
        </div>
    </div>
            

</main>